<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Streamer View{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css')}}">
    </head>
    <header>
        <nav class="navbar">
            <div class="container">
                <ul>
                    <li><a href="{{path('home')}}">Accueil</a></li>
                    <li><a href="{{path('streamerview')}}">Streamer View</a></li>
                    <li><a href="{{path('profil')}}">Profil</a></li>
                    <li><button id="buttonConnexion" class="btn-blue">Connexion/Inscription</button></li>
                </ul>
            </div>
        </nav>
    </header>
    <body>

        
        <div class="barreRecherche">
            <input type="text" placeholder="Entrez le nom d'un stream...">
            <button class="btn-blue">rechercher</button>
        </div>


        {# Div dark Mode #}
        <div class="toggle">
            <span>DarkMode</span>
            <input type="checkbox" id="toggle" />
            <label for="toggle"></label>
        </div>
    
    {% block body %}

        {# On initialise le body pour les autres pages !!!laisser vide!!! #}

    {% endblock %}

        
        
    </body>
    <footer>
        <div class="footer">
            <div>
                <ul>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Nous contacter</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{{path('home')}}">Accueil</a></li>
                    <li><a href="{{path('streamerview')}}">StreamerView</a></li>
                    <li><a href="{{path('profil')}}">Profil</a></li>
                    <li><a href="#">Connexion/Inscription</a></li>
                </ul>
            </div>
        </div>


    </footer>
    {% block javascripts %}
        
        <script>
            var checkbox = document.getElementById("toggle"); //on récupère la valeur de la checkbox

            //vérification de l'état actuel de la page
            if (sessionStorage.getItem("mode") == "dark") {
            darkmode();
            } else {
            whitemode(); 
            }

            //évènement au changement du bouton
            checkbox.addEventListener("change", function() {
            if (checkbox.checked) {
                darkmode(); 
            } else {
                whitemode(); 
            }
            });

            //fonction pour le dark mode
            function darkmode() {
            document.body.classList.add("dark-mode");
            checkbox.checked = true;
            sessionStorage.setItem("mode", "dark");
            }

            //fonction pour le white mode
            function whitemode() {
            document.body.classList.remove("dark-mode");
            checkbox.checked = false;
            sessionStorage.setItem("mode", "light");
            }
        </script>

        {% endblock %}
</html>
